:root {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Baloo 2', cursive; */
  /* font-family: 'Hind Madurai', sans-serif; */

  margin: 0;
  padding: 0;
  --text-primary: black;
  --text-secondary: white;
  --bg-primary: ;
  --bg-secondary: ;
  --transition-speed: 500ms;
}

*{
  margin: 0;
  padding: 0;
}

/* Markup Sizes */
h1 {
  font-size: 5rem;
  letter-spacing: 0.3ch;
}

h2 {
  font-size: 3rem;

}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-3 {
  margin: 3rem;
}

.margin-3 {
  margin: 4rem;
}

.margin-top-15 {
  margin-top: 15rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

/* /////////////// */
/* LANDING SECTION */
/* /////////////// */

.landing-section {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: auto;
  width: 100vw;
  object-fit: contain;
}

.landing-page-image {
  width: 100%;
  /* height: auto; */
}

.landing-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.landing-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: transparent;
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 2;
}

.landing-section-title {
  letter-spacing: 0.3ch;
  margin: 0.5rem;
}

.landing-section-title-2 {
  letter-spacing: 0.3ch;
  margin: 0.5rem;
}

.landing-button {
  display: flex;
  background-color: transparent;
  color: white;
  margin: 3rem 0.5rem 1rem 0.5rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
}

.landing-button h5 {
  letter-spacing: 0.1ch;
}

.landing-title-box i {
  font-size: 1.5rem;

}

.landing-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: ease-in 100ms;
}

/* /////////// */
/* BIO SECTION */
/* /////////// */

.bio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

}

.more-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

}

.even-more-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

/* SKILLS SECTION */

.down-arrow {
  font-size: 1.5rem;
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.skills-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

.skills-good-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  height: auto;
}

.skills-used-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  height: auto;
}

.skills-exposure-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  height: auto;
}

/* //////////////// */
/* PROJECTS SECTION */
/* //////////////// */

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.projects-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-cards-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23rem;
  width: 26rem;
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem;
  transition: ease-in 100ms;
  border-radius: 0.5rem;
}

.project-card:hover {
  box-shadow: 1rem 1rem red;
  border: 1px solid black;
  border-radius: 1rem;
  cursor: pointer;
}

.card-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  /* height: 18rem;
  width: 24rem; */
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.card-screen img {
  height: 18rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.card-title {
  margin: 1rem;
}

.modal-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: gray;
  /* opacity: 0.5; */
  top: 0;
  overflow: auto;
}

.modal-content-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 62rem;
  height: 90vh;
  z-index: 4;
  opacity: 1;
  padding: 2rem;
  overflow: auto;
  /* margin: 1rem; */
}

.modal-screen {
  width: 60rem;
  height: 45rem;
  border: 1px solid black;
  background-color: black;
  padding: 0.5rem;
}

.modal-screen img {
  width: 60rem;
  height: 45rem;
}

.modal-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-lower {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  padding: 2rem 2rem;
}

.modal-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  height: auto;
  /* padding: 2rem; */
  /* border: 1px solid black; */

}

.modal-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: auto;
  /* border: 1px solid black; */
}

.modal-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  /* border: 1px solid black; */
}

.project-link {
  height: 5rem;
  width: 5rem;
  border: 1px solid black;
}

.modal-tech {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 30rem;
  width: 100%;
  /* border: 1px solid black; */
}

/* ////////////// */
/* RANDOM SECTION */
/* ////////////// */

.random-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  text-align: center;
}

.random-section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-facts-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
