:root {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Baloo 2', cursive; */
  /* font-family: 'Hind Madurai', sans-serif; */

  margin: 0;
  padding: 0;
  --text-primary: black;
  --text-secondary: white;
  /* --bg-primary: #F87060;
  --bg-secondary: #F45B69; */
  --transition-speed: 500ms;
  /* --bg-primary: #FF5400; */
  --bg-secondary: #e86252;
  --bg-primary: #ff0054;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Markup Sizes */
h1 {
  font-size: 5rem;
  letter-spacing: 0.3ch;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-3 {
  margin: 3rem;
}

.margin-3 {
  margin: 4rem;
}

.margin-top-15 {
  margin-top: 15rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-bottom-15 {
  margin-bottom: 15rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

/* ///////////////// */
/* // NAV SECTION // */
/* ///////////////// */

.navbar {
  background-color: transparent;
  position: fixed;
  height: 100vh;
  width: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Navbar Animations */
  color: black;
  transition: width 200ms ease;
  z-index: 2;
  margin: 0;
}

.navbar-mobile-content {
  width: 0;
  display: none;
}

.nav-mobile-button {
  display: none;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  height: 30rem;
  width: 3rem;
  z-index: 4;
  transition: width 200ms ease;
  padding: 1rem;
  border: 1px solid black;
  border-left: 0px;
  border-radius: 0.5rem;
}

.navbar-content:hover {
  width: 20rem;
  box-shadow: 1rem 1rem var(--bg-primary);
  background-color: white;
}

.navbar-content:hover .nav-item {
  display: flex;
}

.nav-item {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.nav-item:hover .link-text {
  color: var(--bg-primary);
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.link-text {
  text-decoration: none;
  color: black;
  transform: ease-in 200ms;
}

.nav-item i {
  color: black;
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
  font-size: 3rem;
}

.nav-logo {
  display: flex;
  margin-bottom: auto;
}

.navbar:hover .nav-item i {
  transform: rotate(-180deg);
}

/* //////////////////// */
/* //LANDING SECTION // */
/* //////////////////// */

.landing-section {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: auto;
  width: 100vw;
  object-fit: contain;
}

.landing-page-image {
  width: 100%;
  /* height: auto; */
}

.landing-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.landing-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: transparent;
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 2;
}

.landing-section-title {
  letter-spacing: 0.3ch;
  margin: 0.5rem;
}

.landing-section-title-2 {
  letter-spacing: 0.3ch;
  margin: 0.5rem;
}

.landing-button {
  display: flex;
  background-color: transparent;
  color: white;
  margin: 3rem 0.5rem 1rem 0.5rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
}

.landing-button h5 {
  letter-spacing: 0.1ch;
}

.landing-title-box i {
  font-size: 1.5rem;
}

.landing-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: ease-in 100ms;
}

/* /////////// */
/* BIO SECTION */
/* /////////// */

.bio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.more-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.even-more-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

/* SKILLS SECTION */

.down-arrow {
  font-size: 1.5rem;
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.skills-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

.skills-good-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  height: auto;
}

.skills-used-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  height: auto;
}

.skills-exposure-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  height: auto;
}

/* //////////////// */
/* PROJECTS SECTION */
/* //////////////// */

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.projects-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-cards-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem;
  transition: ease-in 100ms;
  border-radius: 0.5rem;
}

.project-card:hover {
  box-shadow: 1rem 1rem var(--bg-primary);
  border: 1px solid black;
  /* border-radius: 1rem; */
  cursor: pointer;
}

.card-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  /* height: 18rem;
  width: 24rem; */
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.card-screen img {
  height: 20rem;
  width: 32rem;
  border-radius: 0.5rem;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.modal-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: rgb(211, 211, 211);
  /* opacity: 0.5; */
  top: 0;
  overflow: auto;
}

.modal-content-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 69rem;
  height: 90vh;
  z-index: 4;
  opacity: 1;
  padding: 2rem;
  overflow: auto;
  /* margin: 1rem; */
}

.modal-screen {
  width: 64rem;
  height: 40rem;
  border: 1px solid black;
  background-color: black;
  padding: 0.5rem;
}

.modal-screen img {
  width: 64rem;
  height: 40rem;
}

.modal-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-lower {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  padding: 2rem 2rem;
}

.modal-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 0 2rem;
  text-align: center;
  /* padding: 2rem; */
  /* border: 1px solid black; */
}

.modal-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: auto;
  /* border: 1px solid black; */
}

.modal-links-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  /* border: 1px solid black; */
}

.modal-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 10rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem;
  transition: ease-in 100ms;
}

.project-link:hover {
  box-shadow: 0.6rem 0.6rem var(--bg-primary);
  cursor: pointer;
}

.project-link i {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.modal-tech {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 30rem;
  width: 100%;
  /* border: 1px solid black; */
}

/* ////////////// */
/* RANDOM SECTION */
/* ////////////// */

.random-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  text-align: center;
}

.random-section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-facts-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-random-facts-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ARTWORK SECTION */

.artwork-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  text-align: center;
}

.guitar-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  text-align: center;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  text-align: center;
}

.contact-icons-div {
  display: flex;
}

.footer {
  margin-bottom: 15rem;
}

/* //////////// */
/* // MOBILE // */
/* //////////// */

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  .card-screen img {
    height: 10rem;
    width: 16rem;
    border-radius: 0.5rem;
  }

  .navbar {
    display: none;
  }

  .navbar-mobile-content {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 0;
    z-index: 4;
    transition: width 200ms ease;
    border: none;
    overflow: hidden;
    right: 0;
    box-shadow: -0.5rem 0 var(--bg-primary);
  }

  .nav-mobile-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    margin: 1.5rem;
    text-decoration: none;
    color: black;
  }

  .mobile-link-text {
    text-decoration: none;
    color: black;
    transform: ease-in 200ms;
  }

  .nav-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 3rem;
    top: 0;
    right: 0;
  }

  .modal-content-div {
    height: 100vh;
    width: 100vw;
    padding: 0.5rem;
  }

  .modal-screen {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
  }

  .modal-screen img {
    width: 100%;
    height: auto;
  }

  .modal-lower {
    margin-top: 1rem;
    padding: 0.5rem;
  }

  .modal-description {
    margin-top: 0;
  }

  .modal-links {
    margin-top: 0;
  }

  .modal-description {
    padding: 0.5rem;
  }

  .modal-sidebar {
    padding: 0.5rem;
    border-left: 1px solid grey;
  }
}
